<!-- This is a sample lanuch file, please change it based on your needs -->
<launch>
	<node name="ardrone_driver" pkg="ardrone_autonomy" type="ardrone_driver" output="screen" clear_params="true">
		<param name="outdoor" value="1" />
		<param name="navdata_demo" value="0" />
		<param name="flight_without_shell" value="0" />
		<param name="altitude_max" value="3000" />
		<param name="altitude_min" value="100" />
		<param name="do_imu_caliberation" value="true" />
		<!-- Covariance Values (3x3 matrices reshaped to 1x9)-->
		<rosparam param="cov/imu_la">[0.1, 0.0, 0.0, 0.0, 0.1, 0.0, 0.0, 0.0, 0.1]</rosparam>
		<rosparam param="cov/imu_av">[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]</rosparam>
		<rosparam param="cov/imu_or">[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 100000.0]</rosparam>
	</node>
</launch>

