<launch>

	<!-- use time of simulation instead of real time-->
	<param name="use_sim_time" value="true"/>


	<node pkg="gps_common" type="utm_odometry_node" name="gps_to_odom" output="screen" required="true">
		<param name="frame_id" value="base_gps"/>
		<remap from="/fix" to="/ardrone/gps/fix"/>
		<remap from="/odom" to="/gps_odom"/>
	</node>

	<node pkg="drone_project" type="odom_to_path" name="odom_to_path_gps" output="screen">
		<remap from="/odom" to="/gps_odom"/>
	</node>

  <node pkg="tf" type="static_transform_publisher" name="baselink" args="-376186 -4825319 -164 0 0 0 /map /base_gps 100"/>
 </launch>
